dj-database-url==0.5.0
Django
django-filebrowser==3.14.2
django-grappelli==2.15.4
django-heroku==0.3.1
django-js-asset==1.2.2
django-tinymce==3.4.0
gunicorn==20.1.0
beautifulsoup4==4.11.1
Pillow==9.0.0
psycopg2==2.9.3
pydantic
python-dotenv==0.19.2
pyuploadcare==3.0.0
whitenoise==5.3.0
