{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BITSHUB</title>
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>

<header id="header">
    <div id="nav">
        <div id="nav-fixed">
            <div class="container">
                <div class="nav-logo">
                    <a href="{% url 'home' %}" class="logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            {% for category in categories %}
            <a class="p-2 {% if view_catz|lower == category|lower %}
                text-dark text-capitalize
                {% else %}text-muted{% endif %} " href="{% url 'category' category %}">{{ category }}</a>
            {% endfor %}
        </nav>
    </div>
</header>
<section>
    <div class="gap no-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="g-map">
                        <div id="map-canvas"></div>
                        <div class="map-meta">
                            <h1>get in touch</h1>
                            <p>this is a google map. you may see our location, or using street view you may the original
                                look of our office.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- google map -->

<section>
    <div class="gap no-top overlap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contct-info">
                        <div class="contact-form">
                            <div class="cnt-title">
                                <div class="message">
                                    {% for message in messages %}
                                    <p class="text-center alert alert-{{ message.tags }}">{{ message }} <i
                                            class="fa fa-close close"></i></p>
                                    {% endfor %}
                                </div>
                                <span>Send us a message</span>
                                <i><img src="images/envelop.png" alt=""></i>
                            </div>
                            <form action="{% url 'contact' %}" method="post">
                                <div class="form-group">
                                    <input type="text" id="input" name="name" required="required"/>
                                    <label class="control-label" for="input">First & Last Name</label><i
                                        class="mtrl-select"></i>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" required="required"/>
                                    <label class="control-label" for="input"><a
                                            href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__"
                                            data-cfemail="5e1b333f37321e">[email&#160;protected]</a></label><i
                                        class="mtrl-select"></i>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone_no"/>
                                    <label class="control-label" for="input">Phone No.</label><i
                                        class="mtrl-select"></i>
                                </div>
                                <div class="form-group">
                                    <input name="companny" type="text"/>
                                    <label class="control-label" for="input">Company</label><i class="mtrl-select"></i>
                                </div>
                                <div class="form-group">
                                    <textarea name="body" rows="4" id="textarea" required="required"></textarea>
                                    <label class="control-label" for="textarea">Message</label><i
                                        class="mtrl-select"></i>
                                </div>
                                <div class="submit-btns">
                                    <button class="mtr-btn signup" type="submit"><i class="fa fa-paper-plane"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="cntct-adres">
                            <h3>contact info</h3>
                            <ul>
                                <li>
                                    <i class="ti-location-pin"></i>
                                    <span>360 king street feasterville trevose, PA 19054</span>
                                </li>
                                <li>
                                    <i class="fa fa-mobile-phone"></i>
                                    <span>+234 805 704 3642</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i>
                                    <span><a class="__cf_email__"
                                             data-cfemail="cba2a5ada48bb2a4beb9a6aaa2a7e5a8a4a6">blogbitshub@gmail.com</a></span>
                                </li>
                            </ul>
                            <ul class="social-media">
                                <li>
                                    <a href="#" title=""><i class="fa fa-facebook-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" title=""><i class="fa fa-google-plus-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" title=""><i class="fa fa-pinterest-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" title=""><i class="fa fa-twitter-square"></i></a>
                                </li>
                            </ul>
                            <h1 class="bg-cntct">BITSHUB</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 col-md-4">
                <div class="widget">
                    <div class="foot-logo">
                        <div class="logo">
                            <a href="{% url 'home' %}" title=""><img src="{% static 'img/logo.png' %}"
                                                                     alt=""></a>
                        </div>
                        <p>
                            The trio took this simple idea and built it into the world’s leading carpooling platform.
                        </p>
                    </div>
                    <ul class="location">
                        <li>
                            <i class="ti-map-alt"></i>
                            <p>33 new montgomery st.750 san francisco, CA USA 94105.</p>
                        </li>
                        <li>
                            <i class="ti-mobile"></i>
                            <p>+1-56-346 345</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="widget">
                    <div class="widget-title"><h4>follow</h4></div>
                    <ul class="list-style">
                        <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/"
                                                                     title="">facebook</a></li>
                        <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a>
                        </li>
                        <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en"
                                                              title="">instagram</a></li>
                        <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover"
                                                                        title="">Google+</a></li>
                        <li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/" title="">Pintrest</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="widget">
                    <div class="widget-title"><h4>Navigate</h4></div>
                    <ul class="list-style">
                        <li><a href="{% url 'home' %}">Articles</a></li>
                        <li><a href="{% url 'register' %}">Join Us</a></li>
                        <li><a tabindex="-1" style="color:#6c757d!important" aria-disabled="true">Contacts</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/main.js"></script>
<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            $('.alert').fadeOut(2000);

        }, 9000);
    })
    $('.close').click(function (e) {
        $(this).parent().remove()
    });
</script>
</body>
</html>