{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BITSHUB</title>
    	<script src="https://kit.fontawesome.com/774996faac.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="/static/vendor/css/style.css">
    <link rel="stylesheet" href="/static/vendor/fonts/material-icon/css/material-design-iconic-font.min.css">
</head>
<body>
<div class="main">
    <section class="sign-in" >
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="https://ucarecdn.com/1d96087b-6719-4665-b3bd-b2a91dff1173/signinimage.jpg"
                                 alt="sing up image"></figure>
                    <a href="{% url 'signup' %}" class="signup-image-link">Create an account</a>
                </div>
                <div class="signin-form">
                    <h2 class="form-title">Sign In</h2>
                    <div class="message">
                        {% for message in messages %}
                        <p class="text-center alert alert-{{ message.tags }}">{{ message }} <i
                                class="fa fa-close close"></i></p>
                        {% endfor %}
                    </div>
                    <form method="POST" action="{% url 'login' %}" class="register-form" id="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="your_name"><ion-icon name="person-outline"></ion-icon></label>
                            <input type="text" name="your_name" id="your_name" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><ion-icon name="lock-closed-outline"></ion-icon></label>
                            <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                        </div>
                        <a href="{% url 'reset' %}" class="reset-image-link" id="reset-button">Forgot Password? <ion-icon name="key-sharp"></ion-icon></a>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            $('.alert').fadeOut(2000);

        }, 9000);
    })
    $('.close').click(function (e) {
        $(this).parent().remove()
    });
</script>
</body>
</html>