{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BITSHUB</title>
    <script src="https://kit.fontawesome.com/774996faac.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="/static/vendor/css/style.css">
    <link rel="stylesheet" href="/static/vendor/fonts/material-icon/css/material-design-iconic-font.min.css">
</head>
<body>
<div class="main">
    <section class="sign-in" >
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="https://ucarecdn.com/23f3d765-205a-4673-ae6c-0f73d02e3b90/21e8b8618631035a7c412964019.png" alt="sing up image"></figure>
                    <a href="{% url 'login' %}" id="signup-image-link" class="signup-image-link">Continue to login</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Reset Password</h2>
                     <div class="message">
                        {% for message in messages %}
                            <p class="text-center alert alert-{{ message.tags }}">{{ message }} <i
                                    class="fa fa-close close"></i></p>
                        {% endfor %}
                    </div>
                    <form method="POST" action="{% url 'reset' %}" class="register-form" id="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="reset-username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="reset-username" id="reset-username" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <label for="reset-email"><i class="zmdi zmdi-lock"></i></label>
                            <input type="email" name="reset-email" id="reset-email" placeholder="Email"/>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Request"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>