<h5         class="cs-section-heading cnvs-block-section-heading is-style-cnvs-block-section-heading-default halignleft  ">
                                            <span class="cnvs-section-title"><span>{% if comments.count > 0 %}{{ comments.count }} comment{{ comments.count|pluralize }}{% else %} No Comment Yet{% endif %}</span></span></h5>
                                            <ol class="comment-list">
                                                {% for comment in comments %}
                                                <li id="comment-{{ comment.id }}"
                                                    class="comment byuser comment-author-codesupplyco even thread-even depth-1 parent">
                                                    <article id="div-comment-{{ comment.id }}" class="comment-body">
                                                        <footer class="comment-meta">
                                                            <div class="comment-author vcard"><b
                                                                    class="fn">{{ comment.name }} <time datetime="2020-01-20T13:40:05+00:00"> on {{ comment.timestamp|date:"M d,Y" }} at {{ comment.timestamp|date:"H:i" }} :
                                                            </time></b> </div>
                                                            <div class="comment-metadata"><a
                                                                    href="{% url 'article_detail' post.slug %}#comment-{{ comment.id }}">
                                                            </a></div>
                                                        </footer>
                                                        <div class="comment-content"><p>{{ comment.content }}</p></div>
                                                        <div class="reply"><a rel='nofollow' class='comment-reply-link'
                                                                              href='#comment-{{ comment.id }}' data-commentid="{{ comment.id }}"
                                                                              data-postid="{{ comment.id }}"
                                                                              data-belowelement="div-comment-{{ comment.id }}"
                                                                              data-respondelement="respond"
                                                                              data-replyto="Reply to codesupplyco"
                                                                              aria-label='Reply to codesupplyco'>Reply</a>
                                                        </div>
                                                    </article>
                                                    {% for reply in comment.replies.all %}
<ol class="children">
                                                        <li id="comment-288"
                                                            class="comment byuser comment-author-codesupplyco odd alt depth-2">
                                                            <article id="div-comment-288" class="comment-body">
                                                                <footer class="comment-meta">
                                                                    <div class="comment-author vcard">
                                                                  <b
                                                                    class="fn">{{ reply.name }} <time datetime="2020-01-20T13:40:05+00:00">replied on {{ reply.timestamp|date:"M d,Y" }} at {{ reply.timestamp|date:"H:i" }} :
                                                            </time></b></div>
                                                                    <div class="comment-metadata"><a
                                                                            href="{% url 'article_detail' post.slug %}#comment-288">
                                                                       </a></div>
                                                                </footer>
                                                                <div class="comment-content"><p>{{ reply.content }}</p></div>
                                                            </article>
                                                        </li>
                                                    </ol>
                                                        {% endfor %}
                                                </li>

                                                {% endfor %}
                                            </ol>