{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BITSHUB</title>

    <script src="https://kit.fontawesome.com/774996faac.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="/static/vendor/css/style.css">
    <link rel="stylesheet" href="/static/vendor/fonts/material-icon/css/material-design-iconic-font.min.css">
</head>

<body>
<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <div class="message">
                        {% for message in messages %}
                            <p class="text-center alert alert-{{ message.tags }}">{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="signup-image">
                    <figure><a href="https://accounts.google.com/b/0/AddMailService"><ion-icon style="font-size:60px;" name="mail-open"></ion-icon></a></figure>

                    <a href="{% url 'login' %}" class="signup-image-link">Continue to login</a><br>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>