<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BITSHUB</title>
    <link rel="stylesheet" href="/static/vendor/css/style.css">
    <link rel="stylesheet" href="/static/vendor/fonts/material-icon/css/material-design-iconic-font.min.css">
</head>
<body>
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="/static/img/signup-image.jpg" alt="sing up image"></figure>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">New Password</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="your_name" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password2" id="your_pass" placeholder="Confirm Password"/>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Update"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


</body>
</html>